<config>
	<modules>
		<MasteringMagento_Example>
			<version>0.1.2</version>
		</MasteringMagento_Example>
	</modules>
	<global>
		<models>
			<master_example>
				<class>MasteringMagento_Example_Model</class>
				<resourceModel>master_example_mysql4</resourceModel>
			</master_example>
			<master_example_mysql4>
				<class>MasteringMagento_Example_Model_Mysql4</class>
				<entities>
					<event>
						<table>example_event</table>
					</event>
					<event_ticket>
						<table>example_event_ticket</table>
					</event_ticket>
				</entities>
			</master_example_mysql4>
		</models>
		<resources>
			<master_example_setup>
				<setup>
					<module>MasteringMagento_Example</module>
					<class>MasteringMagento_Example_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</master_example_setup>
			<master_example_write>
				<connection>
					<use>core_write</use>
				</connection>
			</master_example_write>
			<master_example_read>
				<connection>
					<use>core_read</use>
				</connection>
			</master_example_read>
		</resources>
		<blocks>
			<master_example>
				<class>MasteringMagento_Example_Block</class>
			</master_example>
		</blocks>
		<helpers>
			<master_example>
				<class>MasteringMagento_Example_Helper</class>
			</master_example>
		</helpers>

		<!-- adds event product type, taken from downloadable -->
        <catalog>
            <product>
                <type>
                    <event translate="label" module="master_example">
                        <label>Event Registration</label>
                        <model>master_example/product_type_event</model>
                        <composite>0</composite>
                    </event>
                    <bundle>
                        <allowed_selection_types>
                            <event/>
                        </allowed_selection_types>
                    </bundle>
                    <configurable>
                        <allow_product_types>
                            <event/>
                        </allow_product_types>
                    </configurable>
                    <grouped>
                        <allow_product_types>
                            <event/>
                        </allow_product_types>
                    </grouped>
                </type>
            </product>
        </catalog>
	</global>
	<!-- process a layout file for module -->
	<adminhtml>
		<layout>
			<updates>
				<master_example>
					<file>example.xml</file>
				</master_example>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<master_example before="Mage_Adminhtml">MasteringMagento_Example_Adminhtml</master_example>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<frontend>
		<routers>
			<master_example>
				<use>standard</use>
				<args>
					<frontName>example</frontName>
					<module>MasteringMagento_Example</module>
				</args>
			</master_example>
		</routers>
		<layout>
			<updates>
				<master_example>
					<file>example.xml</file>
				</master_example>
			</updates>
		</layout>
	</frontend>
</config>