.htaccess.sample
.modgit/
.modman/
app/code/core/
app/.htaccess
app/locale/
app/Mage.php
/cron.php
cron.sh
/devtest.php
downloader/
errors/
favicon.ico
/get.php
includes/
/index.php
index.php.sample
/install.php
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
sitemap.xml
var/
/*.txt
sftp-config.json